<!--<div style="float:left;width:600px;">-->
	<h2>Blogs</h2>
<input type='hidden' id='current_page' />  
<input type='hidden' id='show_per_page' />  
<ul style="margin:10px;" id='content'>
<% if @blogs && !@blogs.empty? %>
<% @posts.each do |post| %>  
<% blog = Blog.find(post.blog_id)%>
<li><span style="font-size:14px;"><%= blog.blog_title %></span>	 
	<br/>	
  	<%= post.post_date.strftime('%A ,%d %B %Y')  %>
  	<br/>
  	<strong><a href="<%= post.url %>" target="_blank"><%= post.title %></a></strong>
  	  	<pre>
  	  		<%= post.content.html_safe %>
  	    </pre>
  	    <p>
  		  Posted by  <%= post.author %>
  	    </p>
</li>	
<% end %>
<%= paginate @posts %>
</ul>
<br/>
 <%#= will_paginate @blogs %>
  <!-- An empty div which will be populated using jQuery -->  
 <div id='page_navigation'></div>
<!--
</div> 
<div style="float:left;width:200px;">
<h2>Authors</h2>
<ul>
<% @blogs.each do |blog|%>
<li><a href="<%= blog.blog_url%>" target="_blank"><%= blog.blogger_name%></a></li>
<%end%>
<% end %>
</ul>
</div> 
-->
<style>
#page_navigation a{
	padding:3px;
	border:1px solid gray;
	margin:2px;
	color:black;
	text-decoration:none
}
.active_page{
	background:#E19209;
	color:white !important;s
}
</style> 
  

