<%#= javascript_include_tag 'jquery','script'%>
<%#= stylesheet_link_tag 'style'%>


<% @blog_objects.each do |key,value| %>	
 <ul style="margin:10px;">
			  <li><span style="font-size:14px;"><%= value[:blog_title]  %></span>
			  	<br/>
			  	<%= value[:post_date] %>
			  	<br/>
			  	<strong><a href="<%= value[:post_title][:url] %>" target="_blank"><%= value[:post_title][:title] %></a></strong>
			  	<p>
			  		<%= value[:post_content]%>
			  	</p>
			  	<p>
			  		Posted by  <%= value[:author]%>
			  	</p>
			  </li>
			 
	</ul>	
 <% end %>
